{% extends "layout.html" %}
{% block content %}
    <h1>SMILES Lookup</h1>
    <form id="home-form">
        <div class="home-form-group">
            <label for="compound-input">Enter Compound Name:</label>
            <input type="text" id="compound-input" name="compound-name" placeholder="e.g. aspirin">

            <div class="searchbar-toggle-wrapper">
                <input type="checkbox" id="searchbar-toggle">
                <label for="searchbar-toggle">Search via SMILE</label>
            </div>
        </div>
        <button type="submit">Get Properties</button>
    </form>

    <div class="results-container">
        <div class="pubchem" id="pubchem">
            <div class="result-card" id="compound-result" style="display: none">
                <div class="result-label">Compound:</div>
                <div class="result-value" id="compound"></div>
            </div>
            <div class="result-card" id="smile-result">
                <div class="result-label">SMILE:</div>
                <div class="result-value" id="smile"></div>
            </div>
            <div class="result-card" id="pubchem-id-result">
                <div class="result-label">PubChem ID:</div>
                <div class="result-value" id="pubchem-id"></div>
            </div>
            <div class="result-card" id="iupac-result">
                <div class="result-label">IUPAC Name: </div>
                <div class="result-value" id="iupac"></div>
            </div>
            <div class="result-card" id="molecular-formula-result">
                <div class="result-label">Molecular Formula:</div>
                <div class="result-value" id="molecular-formula"></div>
            </div>
            <div class="result-card" id="molecular-weight-result">
                <div class="result-label">Molecular Weight:</div>
                <div class="result-value" id="molecular-weight"></div>
            </div>
            <div class="result-card" id="inchi-key-result">
                <div class="result-label">InChI Key:</div>
                <div class="result-value" id="inchi-key"></div>
            </div>
            <div class="result-card" id="hbd-result">
                <div class="result-label">HBD</div>
                <div class="result-value" id="hbd"></div>
            </div>
            <div class="result-card" id="hba-result">
                <div class="result-label">HBA</div>
                <div class="result-value" id="hba"></div>
            </div>
            <div class="result-card" id="xlogp-result">
                <div class="result-label">XLogP</div>
                <div class="result-value" id="xlogp"></div>
            </div>
            <div class="result-card" id="tpsa-result">
                <div class="result-label">TPSA</div>
                <div class="result-value" id="tpsa"></div>
            </div>
            <div class="result-card" id="rotatable-bonds-result">
                <div class="result-label">Rotatable Bonds</div>
                <div class="result-value" id="rotatable-bonds"></div>
            </div>
        </div>

        <div class="drugbank" id="drugbank">
            <div class="result-card" id="drug-group-result">
                <div class="result-label">Drug Group: </div>
                <div class="result-value" id="drug-group"></div>
            </div>

            <!--
            <div class="result-card" id="regulatory-label-result">
                <div class="result-label">Regulatory Label: </div>
                <div class="result-value" id="regulatory-label"></div>
            </div>
            -->
            <div class="result-card" id="indications-result">
                <div class="result-label">Indications: </div>
                <div class="result-value" id="indications"></div>
            </div>

            <div class="result-card" id="targets-result">
                <div class="result-label">Targets: </div>
                <div class="result-value" id="targets"></div>
            </div>

            <div class="result-card" id="category-result">
                <div class="result-label">Categories: </div>
                <div class="result-value" id="category"></div>
            </div>
        </div>
    </div>

    <div id="error-message" style="color: red; text-align: center; margin-top: 20px;"></div>

    <script src="{{ url_for('static', path='js/home.js') }}"></script>
{% endblock %}